<h1>List of users</h1>

<div>
  <div>
    <table border ="1">
      <tr>
        <th>
        Username
        </th>

        <th>
          Private?
        </th>

        <th>
        </th>

        <th>
        </th>


      </tr>

      <tr>
        <td>
          <% %>
        </td>

        <td>
        </td>
      </tr>
